@import "tailwindcss";

:root{
    margin: 0 auto;
    padding: 1rem;
    
}
.big-p .side-text{
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgba(121, 123, 129, 0.30);

    font-size:100%;
  }

  #root{
    width:100%;
  }

  .header{
    margin-bottom:1.25rem;
  }

  .link-title{
    font-size:1.5rem;
  }

  .link-box{
    @apply h-20 flex w-full items-center justify-center 
    bg-amber-300 rounded-lg hover:bg-amber-400 transition transform hover:scale-103 
    duration-200 border-2 border-solid;
  }

  .topic-header{
    margin-bottom:1.125rem;
  }

  .topic-list{
    width:50%;
    max-width: 100%;
    margin:auto;
  }

  .home-list{
    width:50%;
    max-width: 100%;
    margin:auto;
  }

  .topic-box{
    @apply h-20 flex w-full items-center justify-center 
    bg-amber-300 rounded-lg hover:bg-amber-400 transition transform hover:scale-103 
    duration-200 border-2 border-solid;
  }

  .back-button{
    @apply cursor-pointer bg-sky-400 hover:bg-blue-600 hover:text-neutral-50 rounded-md border-2 border-solid;
    padding: 4px 12px;
    font-size: 1.5rem;
    margin-bottom: .75rem;
  }

  .error-title{
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
  }

  .graph-frame{
    width:450px;
    max-width:100%;
    height:100%;
    aspect-ratio: 1/1;
  }

  .graph-outer-box{
    @apply flex gap-2 justify-center;
  }

  .unit-frame{
    width:550px;
    aspect-ratio: 3/2;
  }

  .select-container{
    font-size:1rem;
    align-self:center;
    width: 12ch;
  }

  .side-text{
    max-width: 550px;
  }

  /* 
      List the more inclusive media queries first if they 
      should be overridden by subsequent queries
  */
  @media (max-width: 999px) {

    .topic-list{
      @apply gap-4;
      width: 70%;
    }

    .home-list{
      @apply gap-4;
      width: 70%;
    }

  }

  @media (max-width: 799px) {

    .graph-outer-box{
      @apply flex-wrap;
    }

  }

  @media (max-width: 599px) {

    .topic-list{
      width: 100%;
    }

    .home-list{
      width: 100%;
    }

  }

  @media (min-width: 800px) {

    .graph-frame{
      @apply shrink-0;
    }

  }

  .big-p{
    font-size: 1.125rem;
  }

  

  .center-header{
    font-size:1.75rem;
    margin-bottom: 0.25rem;
    margin-left:auto;
    margin-right:auto; 
    width:fit-content
  }

  .center-only{
    margin-left:auto;
    margin-right:auto; 
    width:fit-content;
  }


  h1{
    font-size:2rem; 
    line-height:1.25;

  }

  h2{
    font-size:1.75rem;
    line-height:1.25;
  }

  h3{
    font-size:1.5rem;
  }
